@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    background-image: url(../img/bg.png);
    background-size: 100%;
    background-attachment: fixed;
    
}

header {
    width: 100%
}

header>div#img {
    position: relative;
}

header>div#links {
    position: relative;
    display: inline-block;
    text-align: center;
}

header>div#links>img {
    width: 100%;
    box-shadow: 1px 1px 15px #000;
}

header>div#links>a {
    position: absolute;
    text-decoration: none;
    top: 42%;
    font-family: 'Exo 2', sans-serif;
    color: #FFF;
    font-size: 2vw;
    transition: 0.25s linear;
}

header>div#links>a:hover {
    color: #FFD700;
}

header>div#links>a#l1 {
    left: 82.7%;
    top: 22%;
}

header>div#links>a#l2 {
    left: 81%;
    top: 41%;
}

header>div#links>a#l3 {
    left: 84%;
    top: 62%;
}

header>div#links>a#l3:hover {
    color: #FFF;
}

header>div#links>a#l4 {
    left: 7%;
    background-color: rgba(55, 55, 55, 0.3);
    color: #FFF;
    padding: 1%;
    top: 30%;
}

header>div#links>a#l4>span {
    font-size: 1vw;
}

main {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

main>div#box {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: rgba(54, 54, 54, 0.5);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
}

main>div#box>div#title {
    text-align: center;
}

main>div#box>div#title>span {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.5vw;
    color: #FFD700;
}

main>div#box>div#prod {
    text-align: center;
    margin-top: 5%;
}

main>div#box>div#prod>span {
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    color: #FFF;
}

main>div#box>div#prod>span#wrn {
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    color: #FF0000;
    border-bottom: 2px solid #FF0000;
}

main>div#box>div#steps {
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}

main>div#box>div#steps>span {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vw;
    color: #FFF;
}

main>div#box>div#steps>span#step {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vw;
    color: #FFD700;
}

main>div#box>div#steps>img {
    margin-top: 5%;
    width: 75%;
    box-shadow: 1px 1px 10px #000;
    border-radius: 5px;
    margin-left: 5%;
}

main>div#box>div#steps>span#e {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1vw;
    color: rgb(149, 7, 7);
}

main>div#box>div#steps>span#e>a {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1vw;
    color: rgb(149, 7, 7);
    text-decoration: none;
}

footer {
    width: 100%;
}

footer>div#ft {
    float: left;
    width: 100%;
    background-color: #292929;
    box-shadow: 1px 1px 10px #000;
}

footer>div#ft>div#title {
    float: left;
    width: 30%;
    margin: 3%;
}

footer>div#ft>div#title>span {
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    color: #FFF;
}

footer>div#ft>div#cpr {
    float: right;
    width: 50%;
    margin: 3%;
}

footer>div#ft>div#cpr>span {
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    color: #FFF;
}